/* @media(max-width: px)   */
@media(max-width: 1150px) { 
    .hero-section .row{
        justify-content: space-around ;
        align-items: center;
    }
}
@media(max-width: 780px) {
    .hero-left .hero-content{
        text-align: center;
        width: 450px;
        margin: 0 auto;
        margin-bottom: 50px;
    }
    .hero-img  img{
        width: 450px;
        margin:  0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
} 
@media(max-width: 475px){
      .hero-img  img{
        display: none;
    }
     .hero-left .hero-content{
        text-align: center;
        width: 350px;
        margin: 0 auto;
        margin-bottom: 50px;
    }
    .hero-title h1{
        font-size: 30px;
    }
}  