/*? AUTHOR DETAILS
*AUTHOR NAME: ANIK ISLAM
*TEMPLATE: HOSPITAL
*VERSION: 1.0.0
*/

/*! ROOT VARIABLES  */
:root {
    --white-color: #fff;
    --black-color: #000;
    --global-font: "Nunito", sans-serif;
    --nav-menu-hover: #0099FF;
    --health-care-bg: #f1fafc; 
}

/*? ESSENTIAL SET UP  */
body {
    font-family: var(--global-font);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 15px;
}

/*? ESSENTIAL SET UP  */

/* ?SET UP FONTS  */
h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 35px;
}

h4 {
    font-size: 25px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

/* ?SET UP FONTS */


/*!HEADER SECTION START  */
.navbar {
    padding: 15px 0 0 0;
}

.navbar .container{
    border-bottom: 1PX solid #ddd;
    padding-bottom: 15px;
}
.navbar-brand img{
    width: 155px;
}
.navbar-nav .nav-item a {
    color: var(--black-color);
    font-size: 18px;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}

.navbar-nav .nav-item a:hover {
    color: var(--nav-menu-hover);
}

.navbar-nav {
    display: flex;
    /* gap: 40px; */
    flex-wrap: wrap;
}

.gbtn {
    border: 1px solid var(--nav-menu-hover);
    padding: 10px 40px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    display: inline-block;
}

.gbtn:hover {
    background-color: var(--nav-menu-hover);
    color: var(--white-color);
}


/*!HEADER SECTION EMD */


/*!HERO SECTION START  */
.hero-section {
    padding: 70px 0;
    overflow: hidden;
}

.hero-section .row {
    align-items: center;
    /* justify-content: space-between; */
    gap: 100px;

}

.hero-title h1 {
    font-weight: 700;
}

.hero-desc p {
    font-size: 16px;
    margin: 20px 0 15px 0;
}

/*?(leter) .hero-img img{
    border-radius: 168px; 
}
.hero-right{
    position: relative
}
.hero-circle-shape {
    position: absolute;
    z-index: -1;
    top: 83px;
    right: 18px;
} */
/*!HERO SECTION EMD */

/*!HEALTH CARE SECTION START  */
.health-care{
    padding: 100px 0;
    background-color: var(--health-care-bg);
    overflow: hidden;
}
.helth-top{
    text-align: center;
}
.health-care .row{
    gap: 150px;
}
.health-sub-title{
    color: var(--black-color);
    margin-bottom: 20px;
}
.health-title h2 {
    color: var(--black-color);
    font-weight: 700;
    width: 455px;
    margin: 0 auto;
    margin-bottom: 200px;
}
.heal-box{
    background-color: var(--white-color);
    width: 308px;
    height: 230px; 
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.heal-icon img {
    position: absolute;
    top: -75px;
    left: 97px;
}
.health-title h5{
    font-size: 600;
    color: var(--black-color)
}
.heal-desc P {
    font-size: 16PX;
    margin: 0  auto;
    margin-top: 15px;
    width: 140px !important;
}
/*!HEALTH CARE SECTION EMD */


/*!ABOUTUS SECTION START  */ 
.about-section{
    padding: 100px 0;
    overflow: hidden;
}
/* .about-section .row{
    gap: 50px;
} */

.about-subtitle h5{
    font-weight: 700; 
}
.about-title h2{
    font-weight: 700;
    margin-top: 20px;
}
.about-desc p{
    padding: 30px 0 45px 0;
}
.about-section .about-right{
    align-self: center;
}
/*!ABOUTUS SECTION EMD */


/*! SECTION START  */
/*! SECTION EMD */